# Practical Application III: Comparing Classifiers

**Overview**: In this practical application, your goal is to compare the performance of the classifiers we encountered in this section, namely K Nearest Neighbor, Logistic Regression, Decision Trees, and Support Vector Machines.  We will utilize a dataset related to marketing bank products over the telephone.

### Getting Started

Our dataset comes from the UCI Machine Learning repository [link](https://archive.ics.uci.edu/ml/datasets/bank+marketing).  The data is from a Portugese banking institution and is a collection of the results of multiple marketing campaigns.  We will make use of the article accompanying the dataset [here](CRISP-DM-BANK.pdf) for more information on the data and features.

### Problem 1: Understanding the Data

To gain a better understanding of the data, please read the information provided in the UCI link above, and examine the **Materials and Methods** section of the paper.  How many marketing campaigns does this data represent?

17

### Problem 2: Read in the Data

Use pandas to read in the dataset `bank-additional-full.csv` and assign to a meaningful variable name.

In [123]:
import pandas as pd

In [124]:
bank_data = pd.read_csv('data/bank-additional-full.csv', sep = ';')

In [125]:
bank_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [126]:
bank_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

### Problem 3: Understanding the Features


Examine the data description below, and determine if any of the features are missing values or need to be coerced to a different data type.


```
Input variables:
# bank client data:
1 - age (numeric)
2 - job : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3 - marital : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
4 - education (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
5 - default: has credit in default? (categorical: 'no','yes','unknown')
6 - housing: has housing loan? (categorical: 'no','yes','unknown')
7 - loan: has personal loan? (categorical: 'no','yes','unknown')
# related with the last contact of the current campaign:
8 - contact: contact communication type (categorical: 'cellular','telephone')
9 - month: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
10 - day_of_week: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
11 - duration: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
# other attributes:
12 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14 - previous: number of contacts performed before this campaign and for this client (numeric)
15 - poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')
# social and economic context attributes
16 - emp.var.rate: employment variation rate - quarterly indicator (numeric)
17 - cons.price.idx: consumer price index - monthly indicator (numeric)
18 - cons.conf.idx: consumer confidence index - monthly indicator (numeric)
19 - euribor3m: euribor 3 month rate - daily indicator (numeric)
20 - nr.employed: number of employees - quarterly indicator (numeric)

Output variable (desired target):
21 - y - has the client subscribed a term deposit? (binary: 'yes','no')
```

No missing values are present, and the correct data types are assigned.

### Problem 4: Understanding the Task

After examining the description and data, your goal now is to clearly state the *Business Objective* of the task.  State the objective below.

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

The business aim is to develop a model that explains the success of client contacts, focusing on term deposit subscriptions, with the goal of improving campaign efficiency through identifying key success factors and optimizing resource management for a high-quality and cost-effective customer selection.

To achieve this objective,we can formulate a predictive modeling task where the target variable (y) is binary ('yes' or 'no') indicating whether the client subscribed to a term deposit. The input features, as listed in the data columns, will be used to train the model.

### Problem 5: Engineering Features

Now that you understand your business objective, we will build a basic model to get started.  Before we can do this, we must work to encode the data.  Using just the bank information features (columns 1 - 7), prepare the features and target column for modeling with appropriate encoding and transformations.

In [129]:
bank_data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [130]:
bank_data.columns[:7]

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan'], dtype='object')

In [131]:
bank_data[list(bank_data.columns)[:7]].head()

   age        job  marital    education  default housing loan
0   56  housemaid  married     basic.4y       no      no   no
1   57   services  married  high.school  unknown      no   no
2   37   services  married  high.school       no     yes   no
3   40     admin.  married     basic.6y       no      no   no
4   56   services  married  high.school       no      no  yes

In [132]:
print(bank_data[bank_data.duplicated()])

       age          job   marital            education  default housing loan  \
1266    39  blue-collar   married             basic.6y       no      no   no
12261   36      retired   married              unknown       no      no   no
14234   27   technician    single  professional.course       no      no   no
16956   47   technician  divorced          high.school       no     yes   no
18465   32   technician    single  professional.course       no     yes   no
20216   55     services   married          high.school  unknown      no   no
20534   41   technician   married  professional.course       no     yes   no
25217   39       admin.   married    university.degree       no      no   no
28477   24     services    single          high.school       no     yes   no
32516   35       admin.   married    university.degree       no     yes   no
36951   45       admin.   married    university.degree       no      no   no
38281   71      retired    single    university.degree       no      no   no

         contact month day_of_week  ...  campaign  pdays  previous  \
1266   telephone   may         thu  ...         1    999         0
12261  telephone   jul         thu  ...         1    999         0
14234   cellular   jul         mon  ...         2    999         0
16956   cellular   jul         thu  ...         3    999         0
18465   cellular   jul         thu  ...         1    999         0
20216   cellular   aug         mon  ...         1    999         0
20534   cellular   aug         tue  ...         1    999         0
25217   cellular   nov         tue  ...         2    999         0
28477   cellular   apr         tue  ...         1    999         0
32516   cellular   may         fri  ...         4    999         0
36951   cellular   jul         thu  ...         1    999         0
38281  telephone   oct         tue  ...         1    999         0

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
1266   nonexistent          1.1          93.994          -36.4      4.855
12261  nonexistent          1.4          93.918          -42.7      4.966
14234  nonexistent          1.4          93.918          -42.7      4.962
16956  nonexistent          1.4          93.918          -42.7      4.962
18465  nonexistent          1.4          93.918          -42.7      4.968
20216  nonexistent          1.4          93.444          -36.1      4.965
20534  nonexistent          1.4          93.444          -36.1      4.966
25217  nonexistent         -0.1          93.200          -42.0      4.153
28477  nonexistent         -1.8          93.075          -47.1      1.423
32516  nonexistent         -1.8          92.893          -46.2      1.313
36951  nonexistent         -2.9          92.469          -33.6      1.072
38281  nonexistent         -3.4          92.431          -26.9      0.742

       nr.employed    y
1266        5191.0   no
12261       5228.1   no
14234       5228.1   no
16956       5228.1   no
18465       5228.1   no
20216       5228.1   no
20534       5228.1   no
25217       5195.8   no
28477       5099.1   no
32516       5099.1   no
36951       5076.2  yes
38281       5017.5   no

[12 rows x 21 columns]

In [133]:
bank_data.duplicated().sum()

12

In [134]:
bank_data.drop_duplicates(inplace=True)

In [135]:
#Converting 'y' into numerical values for improved data manipulation.

y_categories={'yes':1,'no': 0} 

bank_data['y_category']=bank_data['y'].map(y_categories)

In [136]:
print(bank_data)

       age          job  marital            education  default housing loan  \
0       56    housemaid  married             basic.4y       no      no   no
1       57     services  married          high.school  unknown      no   no
2       37     services  married          high.school       no     yes   no
3       40       admin.  married             basic.6y       no      no   no
4       56     services  married          high.school       no      no  yes
...    ...          ...      ...                  ...      ...     ...  ...
41183   73      retired  married  professional.course       no     yes   no
41184   46  blue-collar  married  professional.course       no      no   no
41185   56      retired  married    university.degree       no     yes   no
41186   44   technician  married  professional.course       no      no   no
41187   74      retired  married  professional.course       no     yes   no

         contact month day_of_week  ...  pdays  previous     poutcome  \
0      telephone   may         mon  ...    999         0  nonexistent
1      telephone   may         mon  ...    999         0  nonexistent
2      telephone   may         mon  ...    999         0  nonexistent
3      telephone   may         mon  ...    999         0  nonexistent
4      telephone   may         mon  ...    999         0  nonexistent
...          ...   ...         ...  ...    ...       ...          ...
41183   cellular   nov         fri  ...    999         0  nonexistent
41184   cellular   nov         fri  ...    999         0  nonexistent
41185   cellular   nov         fri  ...    999         0  nonexistent
41186   cellular   nov         fri  ...    999         0  nonexistent
41187   cellular   nov         fri  ...    999         1      failure

       emp.var.rate cons.price.idx  cons.conf.idx  euribor3m  nr.employed  \
0               1.1         93.994          -36.4      4.857       5191.0
1               1.1         93.994          -36.4      4.857       5191.0
2               1.1         93.994          -36.4      4.857       5191.0
3               1.1         93.994          -36.4      4.857       5191.0
4               1.1         93.994          -36.4      4.857       5191.0
...             ...            ...            ...        ...          ...
41183          -1.1         94.767          -50.8      1.028       4963.6
41184          -1.1         94.767          -50.8      1.028       4963.6
41185          -1.1         94.767          -50.8      1.028       4963.6
41186          -1.1         94.767          -50.8      1.028       4963.6
41187          -1.1         94.767          -50.8      1.028       4963.6

         y  y_category
0       no           0
1       no           0
2       no           0
3       no           0
4       no           0
...    ...         ...
41183  yes           1
41184   no           0
41185   no           0
41186  yes           1
41187   no           0

[41176 rows x 22 columns]

### Problem 6: Train/Test Split

With your data prepared, split it into a train and test set.

In [137]:
bd= bank_data[['age', 'job', 'marital', 'education', 'default', 'housing', 'loan']]

In [138]:
bd_copy=bd.copy(deep=True)

In [139]:
from sklearn.model_selection import train_test_split

In [140]:
x_axis = bd
y_axis = bank_data['y_category']

In [141]:
X_train, X_test, y_train, y_test = train_test_split(x_axis,y_axis, test_size=0.3, random_state=101,stratify=y_axis)

### Problem 7: A Baseline Model

Before we build our first model, we want to establish a baseline.  What is the baseline performance that our classifier should aim to beat?

Naive Bayes classification Algorithm

In [143]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler 
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
import time

In [144]:
categorical_features = ['job', 'marital', 'education', 'default', 'housing', 'loan']
numerical_features = ['age']

#MinMaxScaler to scale numerical features to a specific range (default is [0, 1]).

numeric_transformer = Pipeline(
    steps=[
        ("scaler", MinMaxScaler())]
)

#OneHotEncoder to convert categorical features into one-hot encoded vectors

categorical_transformer = OneHotEncoder(drop="if_binary")


preprocessor_minmax = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numerical_features),
        ("cat", categorical_transformer, categorical_features)
    ])

In [145]:
Baseline_model= Pipeline([("preprocessor", preprocessor_minmax), ('Baseline',MultinomialNB())])

In [146]:
Baseline_start_time= time.time()
Baseline_model.fit(X_train, y_train)
Baseline_end_time= time.time()
Baseline_train_time = Baseline_end_time-Baseline_start_time
print(Baseline_train_time)

0.05245399475097656

Calculate accurancy of the Baseline Model

In [148]:
# Make predictions on the training data
y_train_pred_baseline = Baseline_model.predict(X_train)

# Calculate training accuracy
accuracy_train_baseline = accuracy_score(y_train, y_train_pred_baseline)
print(f'Baseline Model Training Accuracy: {accuracy_train_baseline:.2%}')

# Make predictions on the test data
y_test_pred_baseline = Baseline_model.predict(X_test)

# Calculate test accuracy
accuracy_test_baseline = accuracy_score(y_test, y_test_pred_baseline)
print(f'Baseline Model Test Accuracy: {accuracy_test_baseline:.2%}')

# Additional evaluation metrics for the test set
print("Test Set Classification Report:")
print(classification_report(y_test, y_test_pred_baseline))

Baseline Model Training Accuracy: 88.74%
Baseline Model Test Accuracy: 88.68%
Test Set Classification Report:
              precision    recall  f1-score   support

           0       0.89      1.00      0.94     10961
           1       0.12      0.00      0.00      1392

    accuracy                           0.89     12353
   macro avg       0.51      0.50      0.47     12353
weighted avg       0.80      0.89      0.83     12353

### Problem 8: A Simple Model

Use Logistic Regression to build a basic model on your data.

In [149]:
from sklearn.linear_model import LogisticRegression

logistic_regression_model = Pipeline([
    ("preprocessor", preprocessor_minmax),
    ('LogisticRegression', LogisticRegression(max_iter=1000,random_state=42))
])

In [150]:
logistic_start_time=time.time()
logistic_regression_model.fit(X_train, y_train)
logistic_end_time=time.time()
logistic_train_time = logistic_end_time-logistic_start_time
print(logistic_train_time)

0.23817706108093262

### Problem 9: Score the Model

What is the accuracy of your model?

In [151]:
# Make predictions on the training data
y_train_pred = logistic_regression_model.predict(X_train)

# Calculate training accuracy
train_accuracy = accuracy_score(y_train, y_train_pred)
print(f'Training Accuracy: {train_accuracy:.2%}')

# Make predictions on the test data
y_test_pred = logistic_regression_model.predict(X_test)

# Calculate test accuracy
test_accuracy = accuracy_score(y_test, y_test_pred)
print(f'Test Accuracy: {test_accuracy:.2%}')

print(classification_report(y_test, y_test_pred, zero_division=1))

Training Accuracy: 88.73%
Test Accuracy: 88.73%
              precision    recall  f1-score   support

           0       0.89      1.00      0.94     10961
           1       1.00      0.00      0.00      1392

    accuracy                           0.89     12353
   macro avg       0.94      0.50      0.47     12353
weighted avg       0.90      0.89      0.83     12353

### Problem 10: Model Comparisons

Now, we aim to compare the performance of the Logistic Regression model to our KNN algorithm, Decision Tree, and SVM models.  Using the default settings for each of the models, fit and score each.  Also, be sure to compare the fit time of each of the models.  Present your findings in a `DataFrame` similar to that below:

| Model | Train Time | Train Accuracy | Test Accuracy |
| ----- | ---------- | -------------  | -----------   |
|     |    |.     |.     |

K Nearest Neighbour

In [153]:
from sklearn.neighbors import KNeighborsClassifier


# Standardize numerical features using StandardScaler
knn_model = KNeighborsClassifier(n_neighbors=5)
pipeline = Pipeline([
    ("preprocessor", preprocessor_minmax),
    ("KNN", knn_model)
])

# Train the KNN model
knn_start_time= time.time()
pipeline.fit(X_train, y_train)
knn_end_time=time.time()
knn_train_time=knn_end_time-knn_start_time

print(knn_train_time)

# Make predictions on the training data
y_train_pred_knn = pipeline.predict(X_train)

# Calculate training accuracy
accuracy_train_knn = accuracy_score(y_train, y_train_pred_knn)
print(f'KNN Model Training Accuracy: {accuracy_train_knn:.2%}')

# Make predictions on the test data
y_test_pred_knn = pipeline.predict(X_test)

# Calculate and print the test accuracy
accuracy_test_knn = accuracy_score(y_test, y_test_pred_knn)
print(f'KNN Model Test Accuracy: {accuracy_test_knn:.2%}')

# Additional evaluation metrics for the test set
print("Test Set Classification Report:")
print(classification_report(y_test, y_test_pred_knn))

0.07955312728881836
KNN Model Training Accuracy: 89.31%
KNN Model Test Accuracy: 87.61%
Test Set Classification Report:
              precision    recall  f1-score   support

           0       0.89      0.98      0.93     10961
           1       0.26      0.06      0.09      1392

    accuracy                           0.88     12353
   macro avg       0.58      0.52      0.51     12353
weighted avg       0.82      0.88      0.84     12353

Decision Tree Classifier

In [154]:
categorical_features = ['job', 'marital', 'education', 'default', 'housing', 'loan']


#OneHotEncoder to convert categorical features into one-hot encoded vectors

categorical_transformer = OneHotEncoder(drop="if_binary")


preprocessor = ColumnTransformer(
    transformers=[
        ("cat", categorical_transformer, categorical_features)
    ])

In [155]:
from sklearn.tree import DecisionTreeClassifier

# Create a pipeline with preprocessing and Decision Tree model
decision_tree_model = DecisionTreeClassifier(random_state=42)
pipeline = Pipeline([
    ("preprocessor", preprocessor),
    ("DecisionTree", decision_tree_model)
])

# Train the Decision Tree model

decision_tree_start_time = time.time()
pipeline.fit(X_train, y_train)
decision_tree_end_time = time.time()
decision_tree_train_time = decision_tree_end_time - decision_tree_start_time

print(f'Decision Tree train time: {decision_tree_train_time}')

# Make predictions on the training data
y_train_pred_decision_tree = pipeline.predict(X_train)

# Calculate and print the training accuracy
accuracy_train_decision_tree = accuracy_score(y_train, y_train_pred_decision_tree)
print(f'Decision Tree Model Training Accuracy: {accuracy_train_decision_tree:.2%}')

# Make predictions on the test data
y_pred_decision_tree = pipeline.predict(X_test)

# Calculate and print the test accuracy
accuracy_test_decision_tree = accuracy_score(y_test, y_pred_decision_tree)
print(f'Decision Tree Model Test Accuracy: {accuracy_test_decision_tree:.2%}')

print(classification_report(y_test, y_pred_decision_tree))

Decision Tree train time: 0.18940997123718262
Decision Tree Model Training Accuracy: 88.98%
Decision Tree Model Test Accuracy: 88.44%
              precision    recall  f1-score   support

           0       0.89      1.00      0.94     10961
           1       0.23      0.01      0.02      1392

    accuracy                           0.88     12353
   macro avg       0.56      0.50      0.48     12353
weighted avg       0.81      0.88      0.84     12353

Support Vector Machine

In [156]:
from sklearn.svm import SVC

SVM_default= Pipeline(
    steps=[("preprocessor", preprocessor_minmax), ('SVC',SVC(probability=True))]
)

# Train the SVM_default model and measure the time
start_time = time.time()
SVM_default.fit(X_train, y_train)
end_time = time.time()
train_time = end_time - start_time

# Make predictions on the training data
y_train_pred_svm_default = SVM_default.predict(X_train)

# Calculate and print the training accuracy
train_accuracy_svm_default = accuracy_score(y_train, y_train_pred_svm_default)
print(f'SVM Default Model Training Accuracy: {train_accuracy_svm_default:.2%}')

# Make predictions on the test data
y_test_pred_svm_default = SVM_default.predict(X_test)

# Calculate and print the test accuracy
test_accuracy_svm_default = accuracy_score(y_test, y_test_pred_svm_default)
print(f'SVM Default Model Test Accuracy: {test_accuracy_svm_default:.2%}')

# Additional evaluation metrics for the test set
print("Test Set Classification Report:")
print(classification_report(y_test, y_test_pred_svm_default, zero_division=1))

# Print the training time
print(f'Training Time: {train_time:.4f} seconds')

SVM Default Model Training Accuracy: 88.73%
SVM Default Model Test Accuracy: 88.73%
Test Set Classification Report:
              precision    recall  f1-score   support

           0       0.89      1.00      0.94     10961
           1       1.00      0.00      0.00      1392

    accuracy                           0.89     12353
   macro avg       0.94      0.50      0.47     12353
weighted avg       0.90      0.89      0.83     12353

Training Time: 53.1873 seconds

In [157]:
results_df = pd.DataFrame({
    'Model': ['Naive Bayes' ,'Logistic Regression', 'K Nearest Neighbour', 'Decision Tree', 'Support Vector Machine'],
    'Train Time': [Baseline_train_time, logistic_train_time, knn_train_time, decision_tree_train_time, train_time],
    'Train Accuracy': [accuracy_train_baseline, train_accuracy, accuracy_train_knn, accuracy_train_decision_tree, train_accuracy_svm_default],
    'Test Accuracy': [accuracy_test_baseline, test_accuracy, accuracy_test_knn, accuracy_test_decision_tree, test_accuracy_svm_default]
})

In [158]:
print(results_df)

                    Model  Train Time  Train Accuracy  Test Accuracy
0             Naive Bayes    0.052454        0.887382       0.886829
1     Logistic Regression    0.238177        0.887347       0.887315
2     K Nearest Neighbour    0.079553        0.893141       0.876062
3           Decision Tree    0.189410        0.889776       0.884401
4  Support Vector Machine   53.187300        0.887347       0.887315

### Problem 11: Improving the Model

Now that we have some basic models on the board, we want to try to improve these.  Below, we list a few things to explore in this pursuit.

- More feature engineering and exploration.  For example, should we keep the gender feature?  Why or why not?
- Hyperparameter tuning and grid search.  All of our models have additional hyperparameters to tune and explore.  For example the number of neighbors in KNN or the maximum depth of a Decision Tree.  
- Adjust your performance metric

##### Questions